<div class="task-manager-container">
  <h2>Task Manager</h2>
  <div class="filter-form">
    <input type="text" id="search" placeholder="Search tasks..." />
    <button onclick="searchTasks()">Search</button>
  </div>
  <table class="task-table">
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Date</th>
        <th>Made By</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(task of taskList;track task){

      <tr>
        <td>{{ task.task }}</td>
        <td>{{ task.createdAt }}</td>
        <td>{{ task.userId }}</td>
        <td>{{ task.status }}</td>
        <td>
          <button onclick="markComplete(this)">Mark Complete</button>
          <button onclick="deleteTask(this)">Delete</button>
        </td>
      </tr>
      }
      <!-- More tasks go here -->
    </tbody>
  </table>
</div>
